<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Juan Santos">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lab02- JS</title>
        <link rel="stylesheet" href="estilosdeporte.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>

        <section id="seccion1">
            <h1> <b>BIENVENIDOS A LOS DEPORTES</b> </h1>
            <h2>Tienda Virtual</h2>
        </section>

        
    </body>
</html>