<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Juan Santos">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lab02- JS</title>
        <link rel="stylesheet" href="estilosferre.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>

        <section id="seccion1">
            <h1><b>BIENVENIDOS A LA FERRETERIA </b></h1>
            <h2>Tienda Virtual</h2>
        </section>
        <div class="w3-bar w3-black">
            <a href=" " class="w3-bar-item w3-button">Los mas pedidos</a>
            <a href=" " class="w3-bar-item w3-button">Los más baratos</a>
            <a href="#" class="w3-bar-item w3-button w3-right">Comprar</a>
            
        </div>
        <div class="enlaces">
        </div>
        <div class="madera">
        </div>
        <div class="burbujas">
            <img src="img/martillo1.png" alt="imagen de martillo">
            <img src="img/bubble.png" alt="img de burbuja">
            <img src="img/casco.png" alt="img de casco">
            <img src="img/bubble.png" alt="imag de burbuja">
            <img src="img/perno.png" alt="imag de perno">
            <img src="http://assets.stickpng.com/thumbs/58a1f1b1c8dd3432c6fa81e5.png"
            alt="inagen de caña de pescar">
            <img src="https://cdn.pixabay.com/photo/2017/07/31/22/20/wooden-box-2561587__340.png" 
            alt="imagen de lapices">
            
        </div>
        
    </body>
</html>
