<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Juan Santos">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lab02- JS</title>
        <link rel="stylesheet" href="estilosindex.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <section id="seccion1">
            <h1> <b>BIENVENIDOS</b> </h1>
            <h2>Tienda Virtual</h2>
        </section>
        
        <div class="w3-bar w3-black">
            
            <a href="#" class="w3-bar-item w3-button">Sección productos estrella</a>
            <a href="#" class="w3-bar-item w3-button">Sección historias de éxito</a>
            <a href="#" class="w3-bar-item w3-button w3-right">Registrar</a>
            <span>&#9776;</span>
        </div>
        <div class="split left">
            <div class ="proyecto">
                <img src="https://media.istockphoto.com/photos/sports-equipment-on-floor-picture-id1136317339?s=612x612" 
                alt="cuadro con deportes">
                <a class="button button1" href="paginas/deporte.html">Accesorios de deporte</a>
                
            </div>
        </div>
        <div class="split right">
                <div class="proyecto">
                    <img src="https://media.istockphoto.com/photos/construction-work-tools-background-picture-id1226410329"
                    alt="cuadro con herrameintas">
                    <a  class="button button2" href="paginas/ferreteria.html">Accesorios a la ferreteria</a>
                
                </div>
            
        </div>    
        </body>
</html>
